# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @kushmanmb
packages/instant/  @kushmanmb

# Dev tools & setup
.circleci/ @kushmanmb
packages/abi-gen/ @kushmanmb
packages/base-contract/ @kushmanmb
packages/connect/ @kushmanmb 
packages/abi-gen-templates/ @kushmanmb
packages/contract-addresses/ @kushmanmb
packages/contract-artifacts/ @kushmanmb
packages/dev-utils/ @kushmanmb
packages/devnet/ @kushmanmb
packages/ethereum-types/ @kushmanmb
packages/monorepo-scripts/ @kushmanmb
packages/order-utils/ @kushmanmb 
packages/python-contract-wrappers/ @kushmanmb
packages/sol-compiler/ @kushmanmb
packages/sol-coverage/ @kushmanmb
packages/sol-profiler/ @kushmanmb
packages/sol-trace/ @kushmanmb
packages/sol-tracing-utils/ @kushmanmb
packages/sol-resolver/ @kushmanmb
packages/subproviders/ @kushmanmb
packages/verdaccio/ @kushmanmb
packages/web3-wrapper/ @kushmanmb
python-packages/ @kushmanmb
packages/utils/ @kushmanmb

# Protocol/smart contracts
contracts/ @kushmanmb
